@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

/* STATIC FONTS */
@font-face {
     font-family: 'Inter';
     src: url('/fonts/Inter.ttf') format('truetype');
}

@font-face {
     font-family: 'Roboto';
     src: url('/fonts/Roboto.ttf') format('truetype');
}

@font-face {
     font-family: 'Manrope';
     src: url('/fonts/Manrope.ttf') format('truetype');
}



@custom-variant dark (&:where(.dark, .dark *));


@theme {

     --color-primary: #F7F7F7;
     --color-secondary: #000000;
     --color-accent: #EAE4D5;

     
    --font-poppins: 'Poppins', sans-serif;
     --font-manrope: 'Manrope', sans-serif;
     --font-roboto: 'Roboto', sans-serif;
     --font-inter: 'Inter', sans-serif;
     --font-montserrat: "Montserrat", sans-serif;

}

*{
  font-family: var(--font-poppins);
}


/* Swiper Arrow Styling */
/* .swiper-button-next,
.swiper-button-prev {
  color: #FF5500 !important;
  top: auto !important;
  bottom: 30px !important;
  width: 35px;
  height: 35px;
}

.swiper-button-prev {
  left: 35%;
}

.swiper-button-next {
  right: 35%;
}

/* Pagination Dots Centered Between Arrows */
/* .swiper-pagination {
  bottom: 30px !important;
  color: #FF5500;
}


.custom-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: white !important;
  opacity: 0.5; */
/* } */ */

/* .custom-pagination .swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: #FF5500 !important;
} */

/* target pagination inside your specific Swiper container to increase specificity */
 .swiper-pagination-bullet {
  background-color: white !important;
  opacity: 1 !important;
  transform: scale(1) !important;
  box-shadow: none !important;
}


.swiper-pagination-bullet-active {
  background-color: #FF5500 !important;
  opacity: 1 !important;
  transform: scale(1.40) !important;
}


